<html>
<head>
    <title>login</title>
    <link rel="stylesheet" href="//maxcdn. bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Please sign in</h1>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Need to sign in to do chat</h3>
        </div>
        <div class="panel-body">
            <p>Choose service for sign in</p>
            <ul>
                <li>
                    <a href="/auth/login/facebook">Facebook</a>
                </li>
                <li>
                    <a href="/auth/login/github">Github</a>
                </li>
                <li>
                    <a href="/auth/login/google">Google</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>